<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css">
   </head>
<body>
    <div class="form-container">
        <h2>Welcome to Home Page!</h2>
        
        <h5>Aruzhan K. & Moldir K. | SE-2213</h5>
    </div>
  </body>
</html>
